
#update-nag, .update-nag{background-color: #E95A5A;border-left: 4px solid #E70000;color: #fff;float: right;padding: 7px;font-size: 1.06em;margin: 5px;}

#update-nag a, .update-nag a{color: #fff} #wpbody-content{padding-bottom: 500px;}

